@charset "UTF-8";
/* CSS Document */

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	


img {
	margin: 0; 
	padding: 0; 
}
/*html selectors*/

body {
	font-family:Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 18px;
}
/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}

/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 428px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

#header-con {
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0,0,0,0.15);
	padding-top: 15px;
	padding-bottom: 15px;
}

#mobile-nav { 
	grid-column: 4/-1;
 }
#header-logo { 
	grid-column: 1;
 }
#mobile-nav:hover 
{ cursor:pointer; 
	opacity: 0.8; }

.burger {
	grid-column: 4;
	width: 34px;
	height: 4px;
	background-color:#3D4365;
	display: block;
	margin-left: 40px;
	margin-bottom: 5px;
}

.burger:first-child { margin-top: 14px; }

/* index page */

#hero-con {
	background: url(../images/mobile_home/hero_cars_hm.jpg) no-repeat;
}

#hero-text {
	grid-column: 1/-1;
	margin-top: 250px;
}

#hero-text h2 {
	color: #3D4365;
	font-size: 36px;
	line-height: 42px;
	text-decoration: underline;
	margin-bottom: 20px;
}

#hero-text h2:hover { color: #1c1c1c; }

#hero-text p:first-of-type {
	line-height: 30px;
	font-weight: bolder;
	font-size: 24px;
}

#hero-text p{
	color: #3D4365;
	margin-top: 20px;
	line-height: 24px;
	font-size: 19px;
}

#image-slider-con {
	position: relative;
	height: 550px;
}

#image-slider-con h2, #about-us-con h2, #contact-con h2 {
	grid-column: 1/-1;
	color: #1a1a1a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	padding-bottom: 30px;
	padding-top: 70px;
	margin: 0;
	text-align: center;

}

#mobile-slider-left {
	top: 300px;
	left: 20px;
	position: absolute;
	color:#fff;
	font-size: 30px;

	
}

#mobile-slider-right {
	position: absolute;
	right: 20px;
	font-size: 30px;
	color:#fff;
	top: 300px;
}
/* All cars boxes hold a photo and details about the car */
.cars-box h3, .cars-box h4, .cars-box p {
	 text-align: center; 
}

.cars-box h3 {
	color: #1a1a1a;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.cars-box h4 {
	color: #1a1a1a;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.cars-box h4:hover {
	 color: #8FA5CA; 
	 text-decoration: underline;
}

.cars-box p {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 15px;
	font-size: 20px;
	line-height: 28px;
	color: #242424;
	text-align: left;
}

#cars-ad {
	
	
	height: 100px;
	margin-top: 120px;
	
	
}

#cars-ad h2 {
	grid-column: 1/-1;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 28px;
}

#cars-ad a {
	font-size: 22px;
	font-weight: bolder;
	color: #fff;
	text-decoration: underline 2px;
}

#cars-ad a:hover { font-size: 26px; }
/* <!-- About us section contain about the history and purpose of the website --> */
#about-text-con {
	background-color: #8eaacc;
	padding-top: 20px;
	padding-bottom: 40px;
}

#about-text { 
	grid-column: 1/-1;
	margin-left: 8px; 
	margin-right: 8px}

#about-text h3 {
	font-size: 34px;
	color: #1c1c1c;
}

#about-text h3:hover { color: #8FA5CA; }

#about-text p {
	color: #0b0b0b;
	line-height: 20px;
	margin-bottom: 20px;
}

.about-us-photo {
	grid-column: 1/-1;
	display: block;
	margin: 40px auto 0 auto;
}
/* Contact section holds all contacts such as email, phone number,address and social media */
#contact-con {
	margin-bottom: 60px;

}

#contact-text {
	 grid-column: 1/-1; }

#contact-text h3 {
	 font-size: 24px;
	text-align: left;
	}

#contact-text p:first-of-type { 
	line-height: 30px;
}


#contact-text p {
	 font-size: 18px; line-height: 40px;}

#contact-text hr {
	margin: 30px;
	width: 320px;
	border: solid 1.5px #979797;
}

#contact-text ul {
	list-style: none;
	padding: 0;
}

#contact-text ul li {
	display: inline;
	margin: 10px;
}

#contact-text ul li a {
	font-size: 30px;
	color: #1c1c1c;
}

#contact-text ul li a:hover {
	 color:  #3D4365;
 }

#contact-form {
	grid-column: 1/-1;
	display: flex;
	flex-direction: column;
}

#contact-form form {
	display: flex;
	flex-direction: column;
}

#contact-form h3 {
	 margin-top: 30px; 
	
}

#contact-form label {
	 font-size: 18px; margin-left: 4px;
 }
/* contact box is to allow users to send a feedback or to ask a question */
#contact-form input, #contact-form textarea { 
	padding: 25px 25px 25px 18px; 
	margin-top: 10px; 
	margin-bottom: 18px;
	border-radius: 10px;
	background-color: #f7f7f7;
	border: 1.2px solid #979797;
}

#contact-form textarea {
	width: 340px;
	height: 120px;
}

#contact-form input, #contact-form textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#contact-form input:last-child {
	width: 186px;
	font-size: 18px;
	font-weight: 600;
	padding-left: 25px;
	background-color: #3D4365;
	border: none;
	color: #fff;
}

#contact-form input:last-child:hover{
	cursor: pointer;
	opacity: 0.8;
}

/*Common page elements  */
/* footer contain social media, logo, sign up plus the header repeated for easy access */
#footer-con {
	background-color: #3D4365;
}

#footer-logo {
	grid-column: 1;
	margin-top: 30px;
	padding-left: 6px;
}

#footer-form {
	grid-column: 1/-1;
	margin-left: 6px;
	margin-top: 10px;
}

#footer-form h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #fff;
}

#footer-form input {
	padding-left: 20px;
	font-size: 16px;
	width: 200px;
	height: 60px;
	border-style: none;
}

.footer-button-signup {
	position: absolute;

	font-size: 18px;
	font-weight: bolder;
	color: #fffefe;

	background-color: #8FA5CA;
	width: 120px;
	height: 62px;

	border-radius: 0;
	border-style: none;
}

.footer-button-signup:hover {
	background-color: #8FA5CA;
	color: #fff;
	cursor: pointer;
}

#media-footer {
	grid-column: 1/-1;
	margin-top: 20px;
	margin-left: 6px;
}

#media-footer h3 { 
	color: #fff; font-size: 18px;
}

#media-footer ul {
	list-style: none;
	padding: 0;
}

#media-footer ul li {
	display: inline;
	margin: 10px;
}

#media-footer ul li a { 
	margin-left: -10px;
	font-size: 30px; color: #fff;
}
	
#media-footer ul li a:hover { 
	color: #8FA5CA;
 }

#footer-con p {
	grid-column: 1/-1;
	color: #fff;
	margin-bottom: 20px;
	margin-left: 6px;
	font-weight: 300;
	font-size: 16px;
}

/* gallery page */
/* This page contain all cars for sale  */
#hero-gallery-con {
	background: url("../images/mobile_gallery/cars_hero_m.jpg") no-repeat; 
	height: 458px;
}

#hero-gallery-text {
	border-radius: 8px;
	grid-column: 1/-1;
	background-color: #fff;
	height: fit-content;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

#hero-gallery-text h2 {
	font-size: 36px;
	line-height: 43px;
}

#hero-gallery-text span { 
	color:  #5966b3; 
}

#hero-gallery-text p {
	line-height: 22px;
}


#gallery h2 {
	text-align: center;
	grid-column: 1/-1;
	margin-top: 60px;
	margin-bottom: 40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 36px;
	
}

#gallery img {
	margin-left: -20px;
}
/* All galary boxes hold a photo and details about the car */
.gallery-box {
	grid-column: 1/-1;
	margin-bottom: 20px;
}

.gallery-box h3 {
	font-size: 30px;
	color: #1c1c1c;
	line-height: 40px;
	margin-top: 0;
	margin-bottom: 0px;
}

.gallery-box h4 {
	font-size: 30px;
	color: #1c1c1c;
	line-height: 40px;
	margin-top: 0;
	margin-bottom: 0px;
}

.gallery-box h4:hover {
	 text-decoration: underline 4px #8fa5ca; 
}

.gallery-box i {
	 margin-right: 20px;
}
/* more botton/ more info about cars */
.more-button,.more-button-2 {
	font-size: 18px;
	font-weight: bolder;
	letter-spacing: 0.5px;
	color: #fdfdfd;
	padding: 13px 34px;

	border: #ffffff 1.5px solid;
	border-radius: 8px;

	margin-left: 228px;

	display: flex;
}

.more-button { 
	margin-top: 30px;
	background-color: #3d4365;
	
}

.more-button:hover, .more-button-2:hover {
	color: #fff;
	background-color:#8FA5CA;
	border-style: none;

}


